a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: white;
    background-color: blue;
}

body {
    max-width: 35em;
    margin: 0 auto;
    padding: 0 1em;
    font-family: monospace;
    line-height: 1.5;
}

footer {
    border-top: 0.08em solid black;
}

pre {
    overflow-x: auto;
}

pre, blockquote {
    padding-left: 3em;
    margin: 0;
}

.title {
    text-transform: uppercase;
}

h1 {
    font-size: 1.2em;
    border-bottom: 0.08em solid black;
}

@media (prefers-color-scheme: dark) {
    body { 
        background: black;
        color: white;
    }

    a {
        color: #6bf;
    }

    a:hover {
        color: black;
        background-color: #6bf;
    }

    h1 {
        border-bottom: 0.08em solid white;
    }

    footer {
        border-top: 0.08em solid white;
    }
}
