a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: monospace;
    max-width: 35em;
    margin: 0 auto;
    padding: 0 1em;
}

p {
    font-size: 1em;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    border-bottom: 0.08em solid black;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
}


.title {
    text-transform: uppercase;
}

pre {
    overflow-x: auto;
}

pre, blockquote {
    padding-left: 2em;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body { 
        background: black;
        color: white;
    }

    a {
        color: #6bf;
    }

    h1 {
        border-bottom: 0.08em solid white;
    }

    footer {
        border-top: 0.08em solid white;
    }
}
