a {
    color: blue;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1em;
    font-family: "Times New Roman", Times, serif;
}

header {
    border-bottom: 0.08em solid black;
}

footer {
    border-top: 0.08em solid black;
}

pre {
    overflow-x: auto;
    padding: 0.5em 1em;
    background: whitesmoke;
}

blockquote {
    border-left: 0.2em solid black;
    padding-left: 1em;
    margin: 0;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
}

.date {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;

}

table {
    border-collapse: collapse;
    max-width: 100%;
    margin: auto;
}

table, th, td {
    border: 0.08em solid black;
    font-size: 1em;
}

th, td {
    padding: 0.3em;
}

